<<<<<<< HEAD
/* @import './base.css'; */

/* #app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
} */
=======
::-webkit-validation-bubble-heading {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 5px;
}
>>>>>>> abacc3810949a54aba0d390283fea1f3306f75d2
